[user]
	name = Alex Palcuie
	email = alex.palcuie@hootsuite.com
[core]
    editor = vim
	excludesfile = /Users/alex/.gitignore
[web]
    browser = google-chrome
[merge]
    tool = vimdiff
[color]
    ui = auto
    interactive = auto
[credential]
	helper = osxkeychain
[push]
	default = matching
[alias]
    co = checkout
    cm = commit
    st = status -sb
    hard = reset --hard HEAD
    amend = commit --amend -a
    graph = log --graph
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    sweep = !git fsck && git gc && git remote update --prune && git stash clear
    update = !git checkout master && git checkout - && git merge master
[log]
    abbrevCommit = true
    decorate = true
[format]
    pretty = %C(yellow)%h%C(auto)%d%Creset %s %C(cyan)(%cr) %C(bold blue)<%an>%Creset
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[diff]
	algorithm = patience
[help]
	autocorrect = 1
[branch "master"]
	remote = origin
	merge = refs/heads/master
