[user]
	name = Alex Palcuie
	email = alex.palcuie@gmail.com
	signingKey = key::ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBA3aYoDA0xhWQAYZZFQL8JHoIQKT+558Gl8ySChIjlBy0HeT5HjegclrUH4FBp0WRM+B/URhg8T5zzzjgAkW0m0= ecdsa-sha2-nistp256
[core]
    editor = vim
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[web]
    browser = google-chrome
[merge]
    tool = vimdiff
[color]
    ui = auto
    interactive = auto
[push]
	default = current
[alias]
    co = checkout
    cm = commit
    st = status -sb
    br = branch
    undo = reset --hard HEAD
    amend = commit --amend -a
    graph = log --graph
    ignore = update-index --assume-unchanged
    unignore = update-index --no-assume-unchanged
    ignored = !git ls-files -v | grep "^[[:lower:]]"
    sweep = !git fsck && git gc && git remote update --prune && git stash clear
    update = !git checkout master && git checkout - && git merge master
    recent = !git branch --sort=-committerdate | head
[log]
    abbrevCommit = true
    decorate = true
[format]
    pretty = %C(yellow)%h%C(white)%d%Creset %s %C(cyan)(%cr) %C(bold blue)<%an>%Creset
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[diff]
	algorithm = patience
[help]
	autocorrect = 1
[branch "master"]
	remote = origin
	merge = refs/heads/master
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[include]
    path = ~/.gitconfiglocal
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	defaultKeyCommand = ssh-add -L
[fetch]
	prune = true
